.banner-container{
  display: flex;
  background-color: rgb(62, 161, 255, 0.05);
  padding: 50px; 
}

.banner-content{
  display: flex;
  padding: 0 77px;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.banner-heading>h2{
  font-size: 52px;

}

.banner-subheading>p{
  font-size: 18px;
  font-weight: 500px;
  color:#5C5C5C;
}

.banner-button{
  display: flex;
  gap: 28px;
  margin: 20px 0 0 10px;
}

.banner-button>button{
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;

}

.banner-appointment-button{
  color: #FFF;
  background-color: #174EB2;
}

.banner-learn-button{
  color: #174EB2;
  background-color: #FFF;
  border: 1px solid #174EB2
}

.banner-learn-button:hover{
  color:#FFF;
  background-color: #174EB2;
}
.banner-graphics{
  width: 100%;
  position: relative;

}
.banner-graphics>img:first-child{
  width: 500px;

}
.banner-graphics>img:last-child{
  width: 800px;
  position: absolute;
  left: -180px;
}